<div class="header">
    <div class="header-items">
        <div class="logo"><a [routerLink]="['/']">RecipeCorner</a></div>
        <form class="search" #search="ngForm" (ngSubmit)="onSearch(search)">
            <input class="search-input" type="text" placeholder="Search" name="search-term" ngModel>
            <button class="search-button">Search</button>
        </form>
        <div *ngIf="!this.storage.isAuthenticated" class="links">
            <a class="login-link" routerLink="login">Login</a>
            <a routerLink="register">Register</a>
        </div>
        <div *ngIf="this.storage.isAuthenticated" class="links">
            <a routerLink="feed">Feed</a>
            <a routerLink="create">Create</a>
            <app-user-dropdown></app-user-dropdown>
        </div>
    </div>
</div>