.recipe-card {
    width: 12em;
    height: 15em;
    transition: all 200ms ease-in-out;
    position: relative;
    overflow: hidden;
}

.card-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.info {
    background-color: var(--clr-overlay);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: transform 200ms;
    transform: translate3d(0, 100%, 0);
}

.title {
    margin: 0;
    padding-bottom: 0;
    display: block;
    background-color: var(--clr-overlay);
    padding: .5rem;
    color: var(--clr-overlay-text);
    transform: translate3d(0, -100%, 0);
    transition: transform 200ms;
}

.recipe-card:hover .info {
    transform: translate3d(0, 0, 0);
}

.recipe-card:hover .card-link {
    height: 80%;
}

.img-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.avatar-container {
    width: 1.5em;
    height: 1.5em;
}

.avatar-container>img {
    width: 1.5em;
    height: 1.5em;
    object-fit: cover;
}

.quad {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--clr-overlay-text);
}
.quad span{
    font-size: 0.8rem;
}
.svg-icon {
    fill: white;
}

.info-details {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.user-details {
    grid-column: span 2;
    display: flex;
    padding: .5em;
    gap: .5em;
    font-size: 0.8rem;
    width: 100%;
    padding-top: .8rem;
    padding-left: .7rem;
    background-color: var(--clr-overlay);
}

.user-link {
    text-decoration: none;
    color: var(--clr-overlay-text);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
}