<section class="about vh70-box">
    <h1>About</h1>
    <h2>Recipe Corner</h2>
    <p>The site is built as a <a href="https://softuni.bg/" target="_blank" rel="noreferrer" >SoftUni</a> course project by <a href="https://github.com/geHuC/" target="_blank" rel="noreferrer">Denis Velkov</a>. </p> 
    <p> Underneath the hood it utilizes the MEAN (Mongo,Express,Angular,Node) technological stack.</p>
    <p>The source code for the project can be found on GitHub <a href="https://github.com/geHuC/recipe-corner" target="_blank" rel="noreferrer">here</a></p>
</section>