.favourites-container{
    box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.2);
    margin-top: 3rem;
    padding: 2em;
    width: 100%;
    margin-bottom: .5em;
    align-items: center;
    background: var(--clr-light);
    color: var(--clr-black);
}