/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat&family=Roboto&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--clr-bg-dark);
}

:root {
    --clr-input: rgb(230, 230, 230);
    --clr-text-main: black;
    --clr-alert: tomato;
    --clr-valid: green;
    --clr-bg-light: white;
    --clr-bg-dark: rgb(240, 240, 240);
    --clr-overlay: rgba(0, 0, 0, 0.6);
    --clr-overlay-text: white;   

    --clr-navbar-background: #fff;
    --clr-navbar-search-input: #e2e2e2;
    --clr-navbar-search-text: #1a1a1a;
    --clr-bg: #f5f5f5;
    --clr-logo: #17953d;
    --clr-accent: #17953d;
    --clr-text-light: #505050;
    --clr-logo-text: #f6f6f6;
    --clr-navbar-background: #fff;
    --clr-navbar-search-input: #e2e2e2;
    --clr-navbar-search-text: #1a1a1a;
    --clr-white: white;
    --clr-black: black;
    --clr-light: white;
    --card-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}