<h1>Register</h1>
<div class="form-container">
    <form #register="ngForm" name="regiserForm" (ngSubmit)="onSubmit()" [formGroup]="form">
        <label for="username">Username</label>
        <input type="text" name="username" formControlName="username">
        <div *ngIf="f['username'].errors">
            <div *ngIf="f['username'].errors['required'] && f['username'].touched">
                username required
            </div>
            <div *ngIf="f['username'].errors['minlength'] && f['username'].touched">
                username must be 5 or more
            </div>
        </div>
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
        <label for="password">Repeat Password</label>
        <input type="password" name="repeatPassword" formControlName="repeatPassword">
        <button>Submit</button>
    </form>
</div>