textarea{
    width: 100%;
    height: 100%;
    resize: none;
    border-style: none;
    background-color: var(--clr-input);
    color: var(--clr-text-main);
    padding-left: .5em;
}
textarea:focus{
    outline: none;
    border-bottom: 1px dotted var(--clr-text-main);
}
textarea::placeholder{
    color: var(--color-text-light);
}
span{
    float: right;
    font-size: 0.75rem;
}
.input-group{
    width: 100%;
    height: 90%;
}